@{
	ViewBag.Title = "Vuelos";
	Layout = "_Layout";
}
<h1>Próximos vuelos</h1>






<table id="vuelos" class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Horario de llegada</th>
			<th>Vuelo</th>
			<th>Aerolínea</th>
			<th>Demorado</th>
			<th>Acción</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>



<script>
	document.addEventListener('DOMContentLoaded', async () => {
		const response = await fetch('/api/vuelos');
		const vuelos = await response.json();
		var table = $('#vuelos').DataTable({
			data: vuelos,
			columns: [
				{
					data: "horario",
					title: "Horario de llegada",
					render: function (data, type, row, meta) {
						return moment(data).format("HH:mm");
					},
				},
				{
					data: "numeroDeVuelo", title: 'Vuelo'
					
				},
				{ data: 'aerolinea.nombre', title: 'Aerolínea' },
				
				{
					data: "demorado",
					title: "Demorado",
					render: function (data) {
						return data ? "Sí" : "No";
					},
				},
				{
					data: null,
					title: 'Acción',
					render: function (data, type, row, meta) {
						return '<div style="position: relative;">' +
							'<button class="btn btn-primary btn-sm" onclick="location.href=\'/vuelos/modificacion/' + data.id + '\'" style="position: absolute;top:-2.6px; left: 0;">Editar</button>' +
							'<button class="btn btn-danger btn-sm js-delete"  data-vuelo-id="' + data.id + '" style="position: absolute; right: 0;top:-3px;">Eliminar</button>'  +
							'</div>';

					}
				}
			]
		});
	


	$('#vuelos').on('click', '.js-delete', function () {
		const vueloId = $(this).data('vuelo-id');
		const tr = $(this).closest('tr');

		if (confirm("¿Está seguro de querer eliminar este vuelo?")) {
			fetch('/api/vuelos/' + vueloId, {
				method: 'DELETE',
			})
				.then(response => {
					if (!response.ok) {
						throw new Error('Error en la respuesta.');
					}
					table.row(tr).remove().draw(); // linea de Mosh para borrar hasta cuando buscas
				})
				.catch(error => {
					console.error('Hubo un error.', error);
				});
		}
	});
	});
	   
</script>