@{
    ViewBag.Title = "Vuelos";
    Layout = "_Layout";
}
<h1>Próximos vuelos</h1>




<table id="vuelos" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Horario de llegada</th>
            <th>Vuelo</th>
            <th>Aerolínea</th>
            <th>Demorado</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>



<script>
    document.addEventListener('DOMContentLoaded', async () => {
        const response = await fetch('/api/vuelos');
        const vuelos = await response.json();
        var table = $('#vuelos').DataTable({
            data: vuelos,
            columns: [
                {
                    data: "horario",
                    title: "Horario de llegada",
                    render: function (data, type, row, meta) {
                        return moment(data).format("HH:mm");
                    },
                },
                {
                    data: "numeroDeVuelo", title: 'Vuelo'
                    
                },
                { data: 'aerolinea.nombre', title: 'Aerolínea' },
                
                {
                    data: "demorado",
                    title: "Demorado",
                    render: function (data) {
                        return data ? "Sí" : "No";
                    },
                }
            ]
        });
    });
       
</script>